@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;  
  }

.user-menu .user-profile{
  visibility: hidden;
  opacity: 0;
}
.user-menu:hover .user-profile{
  opacity: 1;
  visibility: visible;
  transition: .5s;
}
.user-profile:hover{
  opacity: 1;
  visibility: visible;
  transition: .5s;
}